/* Just the Docs theme */

a {
/*	color: #6ab8fd;  blue */
/*	color: #29bcff;  cyan */
/*	color: #fddf6a;  yellow */
}

.page-content ul li img {
	background: #fff;
/*	background: #27262b;  for dark mode */
	margin-left: -25px;
	position: absolute;
}
