/* Just the Docs theme */

:root{
/* light mode - accent colors: blue, blue, orange */
	--background-color: #fff;
	--accent-color-1: #027db7;
	--accent-color-2: #027db7;
	--accent-color-3: #db3a24;

/* dark mode - accent colors: yellow, blue, cyan */
/*
	--background-color: #27262b;
	--accent-color-1: #fddf6a;
	--accent-color-2: #6ab8fd;
	--accent-color-3: #29bcff;
*/
}

a {
/*	color: var(--accent-color-1); */
}

.page-content ul li img {
	margin-left: -10px;
	vertical-align: middle
}

/* emoji in unordered lists */
.page-content ul li img.emoji {
	background: var(--background-color);
	margin-left: -25px;
	position: absolute;
}

.page-content a {
	white-space: normal;
}

.page-content h2,
.page-content h3 {
	color: var(--accent-color-2);
}
